body{
  font-size: 18px;
  font-family: 'Dancing Script', cursive;
  text-align: center;
  text-shadow: 2px 2px #cccccc;
  color:black;
  background-color: white;
  width: 100vw;
  height: 100vh;
  background-image: url("https://images.pexels.com/photos/616484/pexels-photo-616484.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  display: flex;
  align-items: center;
  flex-direction: column;
}
#contain {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: black;
  animation: reveal linear 1s forwards;
  background-image: url("https://images.pexels.com/photos/1056563/pexels-photo-1056563.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-size: cover;
  background-position: center;
}
@keyframes reveal {
  from {
    height: 100vw;
  }
  to {
    height: 0%;
  }
}
img{
  width: 300px;
  height: 300px;
}
h3{
  font-size: 30px;
}
