@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Indie+Flower&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  background-image: url("https://images.pexels.com/photos/2064357/pexels-photo-2064357.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=700&w=1260");
  background-size: cover;
  background-position: center;
  color:black;
  background-color: white;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.heading {
  width: 100vw;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.heading * {
  margin: 10px;
  font-family: 'Indie Flower', cursive;
}

.heading h2{
  font-family: 'Dancing Script', cursive;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 80vh;
}

form * {
  margin: 25px;
  outline: none;
}

form input {
  width: 100px;
  height: 40px;
  transition: all ease-out .5s;
  border: 1px solid black;
  cursor: pointer;
}

form input:hover {
  border-radius: 25px;
  border-color: white;
  background-color: black;
  color: white;
}

#contain {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: black;
  animation: reveal linear 1s forwards;
  background-image: url("https://images.pexels.com/photos/1056563/pexels-photo-1056563.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-size: cover;
  background-position: center;
}

@keyframes reveal {
  from {
    height: 100vw;
  }
  to {
    height: 0%;
  }
}
