* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.heading {
  width: 100vw;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.heading * {
  margin: 10px;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 80vh;
}

form * {
  margin: 25px;
  outline: none;
}

form input {
  width: 100px;
  height: 40px;
  transition: all ease-out .5s;
  border: 1px solid black;
  cursor: pointer;
}

form input:hover {
  border-radius: 25px;
  background-color: black;
  color: white;
}

#contain {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: black;
  animation: reveal linear 1s forwards;
}

@keyframes reveal {
  from {
    height: 100vw;
  }
  to {
    height: 0%;
  }
}
