<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/static/CSS/index.css">
</head>
  <body>
  <h1> Calorie Tracker </h1>
  <h2> Choose Your Meal </h2>
  <form action ="/Results" method="post">
  <select name="meal_choice">
    <option value="burger">Burger</option>
    <option value="taco">Taco</option>
    <option value="pasta">Pasta</option>
    <option value="sandwich">Sandwich</option>
    <option value="salad">Salad</option>
    <option value="meatloaf">Meatloaf</option>
    <option value="enchiladas">Enchiladas</option>
    <option value="stew">Stew</option>
    <option value="pizza">Pizza</option>
    <option value="dumplings">Dumplings</option>
    <option value="casserole">Casserole</option>
    <option value="chile">Chile</option>
    <option value="macNcheese">Mac and Cheese</option>
    <option value="hotdog">Hot Dog</option>
  </select>
  <input type = "submit" name="" value="Enter">
  </form>
  </body>
</html>
