<!DOCTYPE>
<html>
<head>
  <title> Calorie Tracker </title>
  <link rel="stylesheet" href="static/CSS/index.css">

</head>

<body>
  <h1>  </h1>
   <div class="dropdown">
     <button class="dropbtn">Dropdown</button>
   <div class="dropdown-content">
     <a href="#">Burger</a>
     <a href="#">Tacos</a>
     <a href="#">Burritos</a>
     <a href="#">Spaghtti</a>
     <a href="#">Sandwich</a>
     <a href="#">Salad</a>
     <a href="#">Meatloaf</a>
     <a href="#">Enchiladas</a>
     <a href="#">Stew</a>
     <a href="#">Pizza</a>
   </div>
   </div>

</body>
</html>
