<!DOCTYPE>
<html>
<head>
  <title> Calorie Tracker </title>
  <link rel="stylesheet" href="static/CSS/index.css">

</head>

<body>
  <h1> Choose Your Food Item </h1>
</body>
  <select>
    <option value="burgers">Burgers</option>
    <option value="tacos">Tacos</option>
    <option value="spaghetti">Spaghetti</option>
    <option value="sandwich">Sandwich</option>
    <option value="salad">Salad</option>
    <option value="meatloaf">Meatloaf</option>
    <option value="enchiladas">Enchiladas</option>
    <option value="stew">Stew</option>
    <option value="pizza">Pizza</option>
    <option value="dumplings">Dumplings</option>
    <option value="casserole">Casserole</option>
    <option value="chile">Chile</option>
    <option value="mac and cheese">Mac and Cheese</option>
    <option value="hot dog">Hot Dog</option>
  </select>
</html>
