<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Meals</title>
    <link rel="stylesheet" href="/static/css/index.css">
  </head>
  <body>
    <h1>Meal</h1>
    <a href="/">Calorie Tracker</a>
    <h3>{{Meal}}</h3>
  </body>
</html>

def ingredCal(object):
    #Burger=
    bun = 133
    onion = 32
    groundbeef = 336
    lettuce = 10
    tomato = 22
    cheese = 63
    #tacos
    tortilla = 112
    groundbeef = 336
    salsa = 10
    onion = 32
    cilantro = 2
    #pasta
    noodles = 200
    tomatosause = 29
    tomato = 22
    groundbeef = 336
    #sandwich
    turkey = 45
    lettuce = 10
    tomato = 22
    bread = 69
    mayo = 57
    #salad
    lettuce = 75
    spinach = 7
    choppedtomato = 10
    croutons = 31
    ranch = 60
    #meatloaf
    groundbeef = 336
    groundbeef = 336
    ketchup = 15
    ketchup = 15
    onion = 32
    breadcrumbs = 107
    #enchiladasd
    tortilla = 112
    tortilla = 112
    tortilla = 112
    groundbeef = 336
    cheese2 = 120
    red sause = 65
    #stew
    beef = 256
    potato = 67
    beefstock = 31
    carrot = 27
    peas = 67
    #pizza
    dough = 160
    cheese3 = 340
    pepperoni =  200





def calories(meal_choice):
    cal = ""
    if meal_choice = "burger":
        cal = burger(ingredients):




    
